# Start 

### Composer ###
composer.phar
/vendor/

### Node ###
/node_modules/

### Webpack Pre-Bundles ###
/assets/js/*.min.js
/assets/css/*.min.js
/build/


### build ###

/ultimate-push-notifications/
/ultimate-push-notifications.code-workspace/


# End 